<ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button default-href="#"></ion-back-button>
  </ion-buttons>
  <ion-title>{{ "FORGOT_PASSWORD.TITLE" | translate }}</ion-title>
</ion-toolbar>
<ion-content class="ion-padding">
  <p>{{ "FORGOT_PASSWORD.INFO" | translate }}</p>
  <form [formGroup]="forgotPasswordForm" (ngSubmit)="recoverPassword()">
    <!-- Email -->
    <ion-item>
      <ion-label position="floating">{{
        "LOGIN.PLACEHOLDER_EMAIL" | translate
      }}</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>
    <div>
      <ng-container *ngFor="let validation of validation_messages.email">
        <ion-text color="danger">
          <div
            *ngIf="
              forgotPasswordForm.get('email')?.hasError(validation.type) &&
              (forgotPasswordForm.get('email')?.dirty ||
                forgotPasswordForm.get('email')?.touched)
            "
          >
            {{ validation.message | translate }}
          </div>
        </ion-text>
      </ng-container>
    </div>
    <ion-button
            class="ion-margin-top"
            expand="block"
            [disabled]="!forgotPasswordForm.valid"
            type="submit"
          >
            {{ "FORGOT_PASSWORD.BUTTON" | translate }}</ion-button
          >
  </form>
</ion-content>
<ion-footer>
  <!-- Button registrar -->
  <p class="ion-text-center">
    {{ "FORGOT_PASSWORD.LABEL_REMEMBER" | translate }}
    <a (click)="goToLogin()">{{ "FORGOT_PASSWORD.LABEL_LOGIN" | translate }}</a>
  </p>
</ion-footer>
